---
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
---

<Layout title="Quem Somos">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Quem Somos</Fragment>
      <Fragment slot="desc">
        <p>
          Fundada em 2014, somos uma empresa especializada em transformação de pedra.
        </p>
        <p>
          Após um processo de mudança de instalações, estamos agora mais próximos dos nossos
           clientes
        </p>
        <p>
          e com equipamentos de última geração.
        </p>
      </Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">Os nossos valores</h2>
      <p class="text-lg leading-relaxed text-slate-500">
        O rigor e responsabilidade caracterizam o nosso trabalho, desde a
        seleção cuidadosa das matérias-primas até à entrega dos projetos.
        Procuramos oferecer aos nossos clientes soluções excepcionais nos mais
        diversos setores, incluindo habitação, restauração, hotelaria e
        serviços.
      </p>
    </div>
  </Container>
</Layout>
