---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Cozinhas",
    description:
      `Oferecemos uma vasta gama de opções para bancadas de cozinha,
       ilhas e revestimentos. Disponibilizamos diferentes tipos de
        acabamento e soluções integradas para lava louças e escorredores.`,
    icon: "bx:bxs-check-circle",
  },
  {
    title: "Casas de Banho",
    description:
      `Desde o aconselhamento das melhores pedras à criação de peças à medida.
       A escolha segura para quem procura elegância e durabilidade.`,
    icon: "bx:bxs-check-circle",
  },
  {
    title: "Pavimentos",
    description:
      `Disponíveis em vários formatos e espessuras, para situações de arranjos exteriores ou divisões interiores.`,
    icon: "bx:bxs-check-circle",
  },
  {
    title: "Revestimentos",
    description:
      `Conheça as nossas opções para fachadas ou revestimentos interiores sofisticados e intemporais.
       Superfícies polidas a acabamentos rústicos, adequados a todo o tipo de projetos.`,
    icon: "bx:bxs-check-circle",
  },
  {
    title: "Guarnições e Capeamentos",
    description:
      `Desde a tradicional cantaria em basalto a peitoris minimalistas, executamos 
      com rigor os detalhes construtivos mais exigentes.`,
    icon: "bx:bxs-check-circle",
  },
  {
    title: "Mobliário",
    description:
      `Disponibilizamos para venda equipamentos para exterior e peças de mobiliário
       únicas, desde candeeiros a mesas de apoio ou refeição. Além disto, produzimos peças à medida.`,
    icon: "bx:bxs-check-circle",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Os nossos serviços
  </h2>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
