@font-face {
    font-family: 'GugiRegular';
    src: url('/fonts/GugiRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'WorkSansLight';
    src: url('/fonts/WorkSansLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1 {
    font-family: 'GugiRegular', sans-serif;
}

h2, h3, h4, h5, a, p {
    font-family: 'WorkSansLight', sans-serif;
}