@font-face {
    font-family: 'GugiRegular';
    src: url('/fonts/GugiRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'WorkSansLight';
    src: url('/fonts/WorkSansLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1 {
    font-family: 'GugiRegular', sans-serif;
}

h2, h3, h4, h5, a, p {
    font-family: 'WorkSansLight', sans-serif;
}

.whatsapp-icon-float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:30px;
	right:20px;
    filter: drop-shadow(2px 3px 5px rgb(0 0 0 / 0.4));
}